:root {
    --heading: 'Aleo', serif;
    --paragraph: 'Aleo', serif;
}

#pagebanner {
    background-image: url("../../../static/app/images/about.jpg");
    height: 150px;
}

.banner h2{
    margin-top: 5%;
    text-align: center;
    font-family: var(--heading);
}

.about h2{
    font-family: var(--heading);
    color: black;
}

.about p{
    font-family: var(--paragraph);
    color: black;
    font-size: 1.5em;

}