:root {
    --heading-font: 'Aleo', serif;
    --paragraph-font: 'Aleo', serif;
    --bkg-color: #B3B6B7;
}

.carousel-item img{
    height: 480px;
    background-size: 100% 100%;
    background-size: cover;
    width: 100%;
}
.page-content{
    margin-top: 15px;
}

.about-home p {
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}


.abouthead {
    font-family: var(--heading-font);
}


.page-icons .row{
    width: 100%;
}

.page-icons h2 {
    margin-bottom: 15px;
    font-family: var(--heading-font);
}

.page-icons .col-md-4{
    text-align: center;
}

#icon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18rem;
}

.maphead {
    font-family: var(--heading-font);
    text-align: left;
}

.misc-home{
    color: black;
}

.city-list {
    font-family: var(--paragraph-font);
    font-size: 1.8rem;
}

.sustainability h2,
.sustainability h3{
    color: black;
    font-style: var(--heading-font);
}

.sustainability p{
    color: black;
    font-style: var(--paragraph-font);
    font-size: 1.2em;
}

.sust-img {
    width: 100%;
    height: 300px;
}

@media (max-width: 767px){
    #section-container {
        padding: 0;
    }
    .carousel-item img {
        height: 240px;
    }
}

@media (min-width: 768px){
    #section-container{
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .carousel-item img{
        height: 360px;
    }
}

@media (max-width: 991px){
    #section-container{
        margin: 0;
        padding: 0;
    }
    .carousel-item img{
        width: 100%;
    }
}

@media (min-width: 2560px) {
    .carousel-item img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /*footer{
        position: absolute;
    }*/
}