body {
    padding-top: 60px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

:root {
    --navfooterbkg: #B3B6B7;
    --navtext: #023e8a;
    --header-color: white;
    --header-font: 'Crimson Text', serif;
}



/*Navbar Editing*/
nav{
    border-bottom: 0;
}

.navbar-fixed-top{
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-top: 0px;
}

.navbar {
    background-color: var(--navfooterbkg);
    border-color: var(--navfooterbkg);
    position: absolute;
}


/*Nav Bar editing for each block of text*/
.nav.navbar-nav li a {
    font-family: 'Arvo', serif;
    font-family: 'Epilogue', sans-serif;
    color: var(--navtext);
    font-size: 1.3em;
}

.nav.navbar-nav li a:hover{
    background-color: var(--navfooterbkg);
}

/*Home Page Icons*/
#icon{
    color: var(--navtext);
}

/*Styling for page banners*/
#pagebanner{
    background-size: 100% 100%;
    color: var(--header-color);
    font-family: var(--header-font);
}

.pageheading{
    vertical-align: middle;
}

footer {
    text-align: center;
    background-color: var(--navfooterbkg);
}

footer .row{
    height: 350px;
    width: 100%;
}

footer .site-map{
    margin-top: 35px;
    display: grid;
    justify-content: left;
}

footer ul {
    list-style-type: none;
}

footer .site-map a{
    text-align: left;
    color: var(--navtext);
    font-family: 'Arvo', serif;
    font-family: 'Epilogue', sans-serif;
}

footer .site-map .nav-link{
    font-size: 1.5em;
}

footer .icons{
    margin-top: 0;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .contact{
    margin-top: 35px;
    font-size: 1.2em;
}

footer .contact h3{
    margin-bottom: 5px;
}

footer iframe{
    height: auto;
    margin: auto;
    display: block;
}

footer .ropra a{
    color: var(--navtext)
}

@media (max-width: 767px){
    footer .row{
        height: 1000px;
    }
    footer .contact{
        height: 300px;
    }
    /*footer .icons{
        margin-top: 250px;
    }*/
    footer iframe{
        width: 100%;
        position: relative;
        height: 120px;
        top: 30px;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 2560px){
    #pagebanner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}