{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Jose Rodriguez, CEO</strong><br />
    <abbr title="Phone">Front Desk: </abbr>512-000-0100 <br />
    <strong>Email: <a href="mailto:Support@example.com">Support@example.com</a></strong><br />
    <strong>Juan Garcia, Sales Manager</strong><br />
    <abbr title="Phone">Front Desk: </abbr>512-000-0200 <br />
    <strong>Email: <a href="mailto:Marketing@example.com">Marketing@example.com</a></strong><br />
</address>

<!--Add Form To Fill Out Option-->
<!--Add Google Maps Option-->
<address>
    <b>Main Office</b><br />
    123 Old Settlers Dr<br />
    Round Rock, TX 78665<br />
    <abbr title="Phone">Front Desk:</abbr>
    512-000-0000 
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3436.2415655717377!2d-97.65606108487306!3d30.542478381703873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644d0fdb8846889%3A0x231581a2b9311172!2sE%20Old%20Settlers%20Blvd%2C%20Texas!5e0!3m2!1sen!2sus!4v1592972097099!5m2!1sen!2sus" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>





{% endblock %}
