{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/contact.css' %}" />

<div class="banner" id="pagebanner">
    <div class="container">
        <h2 class="pageheading">Contact EME Ready Mix</h2>
        <h3>We Are Happy To Connect With You & Provide Our Concrete Services</h3>
    </div>
</div>

<section class="contactpage">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <address>
                    <b>Manuel Duran</b><br />
                    <b title="Phone">Cell: </b>512-897-6278<br />
                    <b>Eduardo Luna</b><br />
                    <b title="Phone">Cell: </b>512-800-1803<br />
                </address>

                <address>
                    <b>Ready Mix Plant Address</b><br />
                    11970 N Hwy 183<br />
                    Florence, TX, 76527<br />
                    <strong title="Phone">Dispatch:</strong>
                    737-781-6932
                </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13705.238534036755!2d-97.8956801!3d30.821989!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1451955ce57fc5c1!2sEME%20Ready%20Mix!5e0!3m2!1sen!2sus!4v1633979162880!5m2!1sen!2sus" max-width="300" max-height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-md-6">
                <h4><strong>Send Us a Message!</strong></h4>
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="company">Company Name</label>
                        <input type="text" class="form-control" id="company" placeholder="Company" name="company">
                    </div>
                    <div class="form-group">
                        <label for="name">First & Last Name</label>
                        <input type="text" class="form-control" id="name" placeholder="First & Last Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="emailaddress@example.com" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>







{% endblock %}
