{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/Gallery.css' %}" />

<div class="banner" id="pagebanner">
    <div class="container">
        <h2 class="pageheading">See Images of EME Ready Mix's Work, Trucks and Plant</h2>
    </div>
</div>

    <section class="image-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery1.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery1.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery2.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery2.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery3.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery3.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery4.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery4.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery5.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery5.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery6.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery6.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery7.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery7.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery8.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery8.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery9.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery9.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery10.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery10.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery11.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery11.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="../../static/app/images/gallery12.jpg" class="gallery-image-link">
                        <img src="../../static/app/images/gallery12.jpg" class="gallery-image" alt="EME Ready Mix">
                    </a>
                </div>
            </div>
        </div>
            

            
            <!--<a href="../../static/app/images/gallery4.jpg" class="img-4">
                <img src="../../static/app/images/gallery4.jpg" alt="transco4" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery5.jpg" class="img-5">
                <img src="../../static/app/images/gallery5.jpg" alt="transco5" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery6.jpg" class="img-6">
                <img src="../../static/app/images/gallery6.jpg" alt="transco6" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery7.jpg" class="img-7">
                <img src="../../static/app/images/gallery7.jpg" alt="transco7" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery8.jpg" class="img-8">
                <img src="../../static/app/images/gallery8.jpg" alt="transco8" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery9.jpg" class="img-9">
                <img src="../../static/app/images/gallery9.jpg" alt="transco9" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery10.jpg" class="img-10">
                <img src="../../static/app/images/gallery10.jpg" alt="transco10" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery11.jpg" class="img-11">
                <img src="../../static/app/images/gallery11.jpg" alt="transco11" width="250" height="188">
            </a>
             <a href="../../static/app/images/gallery12.jpg" class="img-12">
               <i class="icon ion-md-expand"></i>
                <img src="../../static/app/images/gallery12.jpg" alt="transco12" width="250" height="188">
            </a> --> 
    </section>
            <!--<a href="../../static/app/images/gallery13.jpg" class="img-13">
                <img src="../../static/app/images/gallery13.jpg" alt="transco13" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery14.jpg" class="img-14">
                <img src="../../static/app/images/gallery14.jpg" alt="transco14" width="250" height="188">
            </a>
            <a href="../../static/app/images/gallery15.jpg" class="img-15">
                <img src="../../static/app/images/gallery15.jpg" alt="transco15" width="250" height="188">
            </a>
            <a href="./../static/app/images/gallery16.jpg" class="img-16">
                <img src="../../static/app/images/gallery16.jpg" alt="transco16" width="250" height="188">
            </a>-->
        


{% endblock %}