<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Epilogue:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<!--Make a better Navbar-->
<body>
    <!--<nav class="navbar bg-light navbar-fixed-top" id="navphone">
        <a class="navbar-brand" href="#">(737) 781-6932</a>
    </nav>-->
    <nav class="navbar navbar-expand-md navbar-fixed-top">
        <a class="navbar-brand" href="#">EME Ready Mix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'quickquote' %}">Quick Quote</a></li>
            </ul>
        </div>
    </nav>
        <!--<nav class="navbar bg-light">
            <nav class="container">
                <nav class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" style="width: 114px; height: 45px; color: maroon">TransCo<!--<img src="../../static/app/images/TranscoLogo.png"></a>
                </nav>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right ">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'quickquote' %}">Quick Quote</a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    -->

    <!--<div class="container body-content">-->
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 logo" id="footerlogo">
                        <a class="navbar-brand" href="/">
                            Eme Ready Mix
                        </a>
                    </div>
                    <div class="col-md-4 site-map">
                        <ul>
                            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                            <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                            <li><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                            <li><a class="nav-link" href="{% url 'quickquote' %}">Quick Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 contact">
                        <h3><strong>Ready Mix Plant Address</strong></h3>
                        <address>
                            11970 N Hwy 183<br />
                            Florence, TX, 76527<br />
                            <strong title="Phone">Dispatch:</strong>
                            737-781-6932
                        </address>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3426.309634165469!2d-97.89786878486638!3d30.821988981606125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865ad1c20eca2609%3A0x1451955ce57fc5c1!2sEME%20Ready%20Mix!5e0!3m2!1sen!2sus!4v1633997334221!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        
                    </div>
                </div>
            </div>
            <br />
            <div class="icons">
                <a href="#"><i class="fa fa-google" style="font-size:48px; padding: 4px; color: #DB4437;"></i></a>
                <a href="https://linkedin.com/"><i class="fa fa-linkedin" style="font-size:48px; padding: 4px; color: #2867B2;"></i></a>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-square" style="font-size:48px; padding: 4px; color: #4267B2;"></i><br /></a>
            </div>
            <br />
            <div class="ropra">
                <a href="http://ropra.net">2021 - Ropra</a>
            </div>  
        </footer>
    <!--</div>-->

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>
