{% extends "app/layout.html" %}

{% block content %}

<title>EME Ready Mix Services</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/app/content/services.css" />

<div class="banner" id="pagebanner">
        <div class="container">
            <h2 class="pageheading">Services</h2>
            <h3>Learn More About the Concrete Services EME Ready Mix Offers</h3>
    </div>
</div>

<div class="services">
    <div class="container">
        <div id="slabs">
            <h3><strong>Concrete Slabs & Foundations</strong></h3>
                <p>
                    A strong foundation is necessary for a building to stay in position, which is why concrete is the ideal material. Concrete foundations are ideal because they can resist 
                    pressure from the water and the soil from the outside. A benefit of having a concrete foundation is that concrete pours can be adapted to all foundation designs. We have 
                    over 15 years of experience in providing concrete foundations for both residential and commercial buildings.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/foundation.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/foundation2.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/foundation3.jpg" />
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/foundation4.jpg" />
                        </div>
                    </div>
                </div>
        </div>
        <div id="driveways">
            <h3><strong>Driveways & Walkways</strong></h3>
                <p>
                    The first thing you set foot on when you arrive to your home is the driveway. Have you ever thought about the stress your driveway is exposed to? A driveway is expected to support 
                    two to four vehicles, withstand intense weather conditions such as freezes and extreme summers, and provide an aesthetic look to a home.  
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/driveway.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/driveway2.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/driveway3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/driveway4.jpg" />
                        </div>
                    </div>
                </div>
                <p>
                    A Walkway is a path used by individuals, scooter riders, and cyclists. Due to the increased use of electric bikes and scooters, sidewalks are taking on more stress due to 
                    the combined traffic. More than ever, you need an experience concrete contractor to help you build your walkway to your standards, and that will be able to adapt to the 
                    future use.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/sidewalk.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/sidewalk2.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/sidewalk3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/sidewalk4.jpg" />
                        </div>
                    </div>
                </div>
                <p>
                    At EME Ready Mix we understand the importance of using high quality concrete for driveways and walkways, which is why our ready-mix product is made using strict guidelines. Our team has 
                    experience working with driveways for ranches, homes in neighborhoods, and commercial driveway projects. We have also worked on walkway projects for neighborhoods, urban centers, retail 
                    centers, and parks.
                </p>
        </div>
        <div id="pools">
            <h3><strong>Pools</strong></h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/pool.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/pool2.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/pool3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/pool4.jpg" />
                        </div>
                    </div>
                </div>
                <p>
                    Possession her thoroughly remarkably terminated man continuing. Removed greater to do ability. You shy shall while but 
                    wrote marry. Call why sake has sing pure. Gay six set polite nature worthy. So matter be me we wisdom should basket moment 
                    merely. Me burst ample wrong which would mr he could. Visit arise my point timed drawn no. Can friendly laughter goodness man 
                    him appetite carriage. Any widen see gay forth alone fruit bed.
                </p>     
        </div>
        <div id="porches">
            <h3><strong>Patios & Porches</strong></h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/patio.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/patio2.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/patio3.jpg" />
                        </div>
                        <div class="col-sm-6 col-md-3 services-image">
                            <img src="../../static/app/images/patio4.jpg" />
                        </div>
                    </div>
                </div>
                <p>
                    After a long day at work, you want to relax in your front yard and enjoy your evening, or on a hot summer day you want to have a 
                    bar-b-q with your friends and family. Concrete is an excellent material for your patio or porch because of its toughness and 
                    ability to withstand the elements. Our poured concrete patios will transform your backyard to a beautiful area that you will 
                    enjoy for years to come. The benefits of using concrete for your patio or porch is that it is low maintenance, reduces gaps that 
                    lead to infestations and is adaptable to your design. We have experience pouring for stamped concrete, stone, brick patios, and 
                    tile patios and porches. 
                </p>
        </div>
    </div>
</div>


{% endblock %}